.Navbar-main {
    padding: 0;
    margin: 0;
    width: 100%
}

.Navbar-main li {
    list-style: none;
}

.Navbar-main input {
    padding: 5px 10px;
    border: 1px solid gray;
    outline: none;
    border-radius: 20px;
    width: 30vw;

}